@charset "gb2312";
.MainContent {
	margin-left: 154px;
}
.MainContent .wei {
	text-align: left;
	margin-top: 6px;
	margin-bottom: 8px;
	background-color: rgba(242,248,255,1.00);
	padding-top: 43px;
	padding-bottom: 0px;
	padding-left: 81px;
	-webkit-box-shadow: 0 13px 15px -14px;
	box-shadow: 0 13px 15px -14px;
	margin-left: 254px;
}
.MainContent .wei .wei-nei {
	margin-left: 131px;
	margin-top: -47px;
	padding-bottom: 17px;
	padding-top: 0px;
	margin-bottom: 4px;
}
.header {
	margin-top: -266px;
	height: 467px;
	line-height: 223px;
}
.MainContent .SecondNav .shuqian {
	padding-left: 90px;
	text-align: left;
}
.second.header_1 {
	background-image: -webkit-linear-gradient(235deg,rgba(0,64,82,1.00) 0%,rgba(2,5,21,1.00) 89.64%);
	background-image: -moz-linear-gradient(235deg,rgba(0,64,82,1.00) 0%,rgba(2,5,21,1.00) 89.64%);
	background-image: -o-linear-gradient(235deg,rgba(0,64,82,1.00) 0%,rgba(2,5,21,1.00) 89.64%);
	background-image: linear-gradient(215deg,rgba(0,64,82,1.00) 0%,rgba(2,5,21,1.00) 89.64%);
	padding-bottom: 0px;
	color: #EFF5FF;
	font-style: normal;
	-webkit-box-shadow: 0 8px 23px -6px hsla(205,67%,17%,1.00);
	box-shadow: 0 8px 23px -6px hsla(205,67%,17%,1.00);
	width: auto;
	text-shadow: 2px 3px 22px hsla(49,100%,89%,1.00);
	padding-top: 17px;
	overflow-y: auto;
	margin-bottom: 6px;
	text-transform: none;
	text-align: left;
	font-size: 22px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	border-spacing: 0 0;
	background-position: 0 0;
	line-height: -23px; /*设置line-height与父级元素的height相等*/
	height: 45px;
	vertical-align: baseline;
}
.candle {
	margin-top: -67px;
	margin-bottom: 42px;
}

.second.left_1 {
	height: 30px;
	width: 122px;
	-webkit-box-shadow: -7px 4px 7px -4px hsla(216,37%,36%,1.00);
	box-shadow: -7px 4px 7px -4px hsla(216,37%,36%,1.00);
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
	background-color: hsla(276,100%,95%,1.00);
	position: fixed;
	padding-right: 5px;
	padding-top: 15px;
	background-image: -webkit-linear-gradient(270deg,rgba(0,64,82,1.00) 87.05%,rgba(8,8,18,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,64,82,1.00) 87.05%,rgba(8,8,18,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,64,82,1.00) 87.05%,rgba(8,8,18,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,64,82,1.00) 87.05%,rgba(8,8,18,1.00) 100%);
	z-index: 0;
	border-top-right-radius: 0px;
	padding-left: 41px;
	margin-top: 75px;
	margin-bottom: 10px;
	overflow-y: visible;
}
.article_1 {
	width: auto;
	padding-left: 0px;
	margin-left: 327px;
	text-indent: 33px;
	margin-right: 154px;
	margin-top: -364px;
}
.next_1 {
	margin-left: 784px;
	padding-top: 0px;
	line-height: 37px;
	color: #7646FF;
	float: right;
	margin-right: 42px;
	margin-top: -394px;
	text-align: right;
}
.top_1 .right{
	
	float: right;
	width: 100px;
}
.top_1 .left{
	overflow: hidden;
}
.top_1:after{
	content: "";
	height: 0;
	line-height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}
.back   {
	width: 161px;
	height: 32px;
	background-image: -webkit-linear-gradient(46deg,rgba(2,5,21,1.00) 81.87%,rgba(0,96,131,1.00) 100%);
	background-image: -moz-linear-gradient(46deg,rgba(2,5,21,1.00) 81.87%,rgba(0,96,131,1.00) 100%);
	background-image: -o-linear-gradient(46deg,rgba(2,5,21,1.00) 81.87%,rgba(0,96,131,1.00) 100%);
	background-image: linear-gradient(44deg,rgba(2,5,21,1.00) 81.87%,rgba(0,96,131,1.00) 100%);
	padding-top: 17px;
	position: fixed;
	margin-bottom: 107px;
	padding-left: 7px;
	margin-top: 11px;
	-webkit-box-shadow: -7px 6px 7px -4px hsla(215,38%,18%,1.00);
	box-shadow: -7px 6px 7px -4px hsla(215,38%,18%,1.00);
}
.mail {
	width: 149px;
	height: 23px;
	background-image: -webkit-linear-gradient(90deg,rgba(197,252,255,1.00) 0%,rgba(79,116,135,1.00) 12.43%);
	background-image: -moz-linear-gradient(90deg,rgba(197,252,255,1.00) 0%,rgba(79,116,135,1.00) 12.43%);
	background-image: -o-linear-gradient(90deg,rgba(197,252,255,1.00) 0%,rgba(79,116,135,1.00) 12.43%);
	background-image: linear-gradient(0deg,rgba(197,252,255,1.00) 0%,rgba(79,116,135,1.00) 12.43%);
	padding-left: 19px;
	padding-top: 6px;
	position: fixed;
	margin-top: 126px;
	-webkit-box-shadow: -4px 0px 0px 0 #96F12C;
	box-shadow: -4px 0px 0px 0 #96F12C;
	padding-right: 0px;
	min-height: 0px;
	max-height: none;
	display: inherit;
	overflow-y: visible;
	text-align: left;
	vertical-align: top;
	list-style-position: outside;
	padding-bottom: 2px;
	font-style: normal;
	font-variant: normal;
	font-size: medium;
	text-decoration: none;
}
.bottom {
	background-color: hsla(272,100%,14%,1.00);
	height: 141px;
	margin-top: 116px;
	background-image: -webkit-linear-gradient(270deg,rgba(0,115,130,1.00) 0%,rgba(2,5,21,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(0,115,130,1.00) 0%,rgba(2,5,21,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(0,115,130,1.00) 0%,rgba(2,5,21,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(0,115,130,1.00) 0%,rgba(2,5,21,1.00) 100%);
}
.home {
	height: 41px;
	width: 187px;
	margin-top: -87px;
	margin-bottom: 64px;
	background-color: hsla(359,100%,50%,1.00);
}
